body{
    background-color: red;
    color: aliceblue;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn a{
    text-decoration: none;
    font-size: large;
    color: aliceblue;
}
.btn button{
    background-color: black;
    padding: 10px;
    width: 150px;
    border: 2px solid white;
    border-radius: 30px;
}
main{
    margin: 30px;
    margin-top: 200px;
}
main button{
    color: antiquewhite;
    font-size: large;
}